.confirmation-modal {
    .rx-modal-dialog-header {
        height: 10px;

        img {
            right: 14px;
            top: 10px;
        }
    }

    .body {
        word-wrap: break-word; 
        padding: 0 24px 18px;
    }
}