@import "../../../../assets/scss/config.scss";

::ng-deep {
    .note-sidebar{
        border-left: 1px solid #EDF1F2;
        .panel-header{
            background-color: #ffffff !important;
            color: var(--main) !important;
            border-bottom: 1px solid #EDF1F2;
            border-radius: 0 !important;
        }
        .panel-container{
            transform: none !important;
            height: 100% !important;
        }
    }
}

.note-panel-container {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;

    .header-section {
        border-bottom: 1px solid #EDF1F2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;
        gap: 12px;

        .search {
            display: flex;
            align-items: center;
            border: 1px solid $background-light;
            border-radius: 4px;
            height: 34px;
            width: 100%;
            gap: 8px;
            padding: 8px;
            box-sizing: border-box;

            img {
                width: 20px;
                height: 20px;
                filter: brightness(0) saturate(100%) invert(82%) sepia(11%) saturate(139%) hue-rotate(153deg) brightness(83%) contrast(83%);
            }

            input[type=text] {
                border: none;
                flex-grow: 1;
                font-size: 12px;
                font-weight: 400;

                &::placeholder {
                    color: #A4ABAE;
                }
                &:focus-visible {
                    outline: none;
                }
            }
        }

        .sort {
            display: flex;
            width: 100%;
            align-items: center;
            gap: 8px;

            span {
                font-size: 12px;
                font-weight: 400;
                color: $main;
            }

            img[role=button] {
                cursor: pointer;
                border-radius: 4px;

                &.active,
                &:hover {
                    background-color: #EDF1F2;
                }
            }

            rx-dropdown {
                flex-grow: 1;
                ::ng-deep {
                    .dropdown-container{
                        width: 150px;
                        .options-container {
                            .options-wrapper {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .main-section {
        flex-grow: 1;
        max-height: 79%;
        overflow-y: scroll;
        .comments-title{
            font-weight: 700;
            margin: 12px 12px 0 12px;
            font-size: 14px;
        }
        .list {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 12px;
            padding: 12px;
            box-sizing: border-box;
            //overflow-y: scroll;

            .note {
                width: 100%;
                box-shadow: 0 4px 16px rgba(134,142,150,0.24), 0 0 4px 0 #868e96;
                border-radius: 4px;

                box-sizing: border-box;
                display: flex;
                flex-direction: column;


                &:hover,
                &.selected {
                    border-color: $accent;
                }

                &.is-active{
                    .note-comment-list{
                        .note-comment{
                            padding-bottom: 20px;
                            display: block;
                        }
                    }
                    .note-input{
                        display: flex;
                    }

                }

                .list-title {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 22px;
                    color: $main;
                    margin: 0;
                    padding: 8px 12px;
                    border-bottom: 1px solid var(--background-light);
                }

                .note-comment-list{
                    padding: 8px 12px;
                    
                    .note-comment{
                        margin-left: 32px;
                        padding-left: 12px;
                        padding-bottom: 0px;
                        border-left: 1px solid #e7ebee;
                        display: none;
                        
                        &:first-child {
                            margin-left: 0;
                            padding-left: 0;
                            border-left: 0px solid #e7ebee;
                            display: block;

                            .item-note{
                                .item-comment-left{
                                    display: flex;
                                    align-items: center;
                                    .comment-img{
                                        display: block;
                                    }

                                    p{
                                        color: #000;
                                    }
                                    .author{
                                        font-size: 14px;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }

                        &:last-child{
                            padding-bottom: 0px;
                        }

                        .item-note{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .item-comment-left{
                                display: flex;
                                align-items: center;
                                
                                .comment-img{
                                    display: none;
                                    margin-right: 10px;
                                }

                                .author{
                                    line-height: normal;
                                    font-size: 10px;
                                    font-weight: 400;


                                }
    
                                p{
                                    margin: 4px 0 0 0;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 16px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                    color: $main;
                                    word-break: break-word;
                                }
    
                                .comments-date-count{
                                    display: flex;
                                    align-items: center;
    
                                    .date-and-time {
                                        font-size: 10px;
                                        line-height: 16px;
                                        font-weight: 300;
                                        color: #A4ABAE;
                                    }
        
                                    .comments-count{
                                        display: flex;
                                        align-items: center;
                                        font-size: 12px;
                                        margin-left: 10px;
    
                                        img{
                                            width: 14px;
                                        }
                                    }
                                }
                            }

    

                            .comments-controls{
                                display: flex;
                                align-items: center;

                                img{
                                    width: 22px;
                                    cursor: pointer;
                                }
                            }
                        }

                    }
                }
                
                .note-input{
                    border-top: 1px solid var(--background-light);
                    padding: 8px 12px;
                    display: none;
        
                    input[type=text] {
                        font-size: 12px;
                        font-weight: 400;
                        width: 100%;
                        box-sizing: border-box;
                        padding: 9px;
                        border: 1px solid var(--background-light);
                        margin-right: 5px;
        
                        &::placeholder {
                            color: #A4ABAE;
                        }
                        &:focus-visible {
                            outline: none;
                        }
                    }
                    img{
                        
                        cursor: pointer;
                    }

                }
            }

            .date {
                width: 100%;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                font-size: 12px;
                font-weight: 400;
                color: #A4ABAE;
            }
        }

        .empty-list {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            p {
                width: 176px;
                text-align: center;
                font-size: 12px;
                line-height: 16px;
                color: #A4ABAE;
            }
        }
    }
}

.filters-container {

    padding: 12px;

    .filters-body {
        display: flex;
        flex-direction: column;
        gap: 8px;
        
        ::ng-deep {
            .rx-calendar-wrapper{
                right: 0;
            }
        }

        label {
            padding: 0;
            margin: 0;
            font-size: 12px;
            font-weight: 400;
            color: $main;
        }
    }
}

.filters-footer {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    padding: 16px 12px;
    border-bottom: 1px solid #EDF1F2;
}
