<div *ngIf="visible"
    [ngDraggable]="draggable"
    
    [handle]="panelHeader"
    class="rx-measure-detail-panel-container panel-container">
    <div #panelHeader class="panel-header">
        <span class="title">{{panelHeading}}</span>
        <!-- <span class="btn-close" (click)="onCloseClick()">&times;</span> -->
    </div>
    <div class="panel-body" [ngStyle]="{'max-height.px': maxHeight, 'overflow-y': 'auto'}">
          <div class="measure-detail-section">           
            <section>               
                <div class="row">
                  <div class="col">{{measurementText}}</div>
                  <div class="col">{{measureData?.dimtext}}</div>
                </div>
                <!-- <ng-container *ngIf="measureData?.currentMousePosition">
                  <div class="row">
                      <div class="col">X</div>
                      <div class="col">{{measureData?.currentMousePosition?.x}}</div>
                  </div>
                  <div class="row">
                    <div class="col">Y</div>
                    <div class="col">{{measureData?.currentMousePosition?.y}}</div>
                  </div>
                  
                </ng-container> -->
              </section>
          </div>
        
      </div>
    </div>
