<div *ngIf="visible"
    [ngDraggable]="draggable"
    
    [handle]="panelHeader"
    class="rx-measure-detail-panel-container panel-container">
    <div #panelHeader class="panel-header">
        <span class="title">{{panelHeading}}</span>
        <!-- <span class="btn-close" (click)="onCloseClick()">&times;</span> -->
    </div>
    <div class="panel-body" [ngStyle]="{'max-height.px': maxHeight, 'overflow-y': 'auto'}">
          
          <div class="scale-list"
              *ngIf="measureData.type === MARKUP_TYPES.MEASURE.LENGTH.type ||
                  measureData.type === MARKUP_TYPES.SHAPE.RECTANGLE.type ||
                  measureData.type === MARKUP_TYPES.MEASURE.AREA.type ||
                  measureData.type === MARKUP_TYPES.MEASURE.PATH.type ||
                  showScaleDropdownOnStartDrawing === true">
              <div>
                  Scale
              </div>
              
              <div class="scale-dropdown-section">
                
                <rx-scale-dropdown
                  class="select-scale"
                  [placeholder]="scalesOptions.length?'Select scale...':'Unscaled'"
                  [options]="scalesOptions"
                  [value]="selectedScale ? selectedScale : null"
                  [showAddNew] = "true"                  
                  (valueChange)="onScaleChanged($event)"
                  (valueDelete)="onScaleDeleted($event)">
                </rx-scale-dropdown>
                  <!-- <rx-dropdown
                      class="select-scale"
                      [placeholder]="'Select scale...'"
                      [options]="scalesOptions"
                      [value]="selectedScale"
                      (valueChange)="onScaleChanged($event)">
                  </rx-dropdown> -->
              </div>
          </div>  
          
          <div class="measure-detail-section">           
            <section>               
                <div class="row">
                  <div class="col">{{measurementText}}</div>
                  <div class="col">{{measureData?.dimtext}}</div>
                </div>

                <div class="row" 
                  *ngIf="measureData?.dimtextWithHole && (measureData.type === MARKUP_TYPES.MEASURE.AREA.type ||
                  measureData.type === MARKUP_TYPES.SHAPE.RECTANGLE.type)">
                  <div class="col">Area total</div>
                  <div class="col">{{measureData?.dimtextWithHole}}</div>
                </div>
                                
                <div class="row" 
                  *ngIf="measureData.type === MARKUP_TYPES.MEASURE.AREA.type ||
                  measureData.type === MARKUP_TYPES.SHAPE.RECTANGLE.type">
                    <div class="col">Distance</div>
                    <div class="col">{{measureData?.perimeterLengthOnArea || 0}}</div>
                </div>

                <ng-container *ngIf="measureData.type === MARKUP_TYPES.MEASURE.LENGTH.type">
                  <div class="row">
                    <div class="col">Angle</div>
                    <div class="col">{{measureData?.angleLine}}&deg;</div>
                  </div>
                  <div class="row">
                    <div class="col">X</div>
                    <div class="col">{{measureData?.xLength}}</div>
                  </div>
                  <div class="row">
                    <div class="col">Y</div>
                    <div class="col">{{measureData?.yLength}}</div>
                  </div>
                </ng-container>

              </section>
          </div>
        
      </div>
    </div>
