<div *ngIf="visible && isActivefile" class="rx-measure-panel-container"
    [ngDraggable]="draggable"
    [bounds]="bounds"
    [inBounds]="true"
    [handle]="panelHeader"
    class="rx-measure-panel-container panel-container">
    <div #panelHeader class="panel-header">
        <span class="title">Scale settings</span>
        <span class="btn-close" (click)="onCloseClick()">&times;</span>
    </div>
    <div class="panel-body" [ngStyle]="{'max-height.px': maxHeight, 'overflow-y': 'auto'}">
        <div class="scale-list">
            <div>
                Scale
            </div>
            <div *ngIf="!scalesOptions.length"
                class="unscaled">Unscaled</div>
            <div class="scale-dropdown-section" *ngIf="scalesOptions.length">
                <!-- <rx-dropdown
                    class="select-scale"
                    [placeholder]="'Select scale...'"
                    [options]="scalesOptions"
                    [value]="selectedScale"
                    (valueChange)="onScaleChanged($event)">
                </rx-dropdown> -->
                <rx-scale-dropdown *ngIf="scalesOptions.length"
                    class="select-scale"
                    [placeholder]="'Select scale...'"
                    [options]="scalesOptions"
                    [value]="selectedScale"
                    [showDelete]="true"
                    (valueChange)="onScaleChanged($event)"
                    (valueDelete)="onScaleDeleted($event)">
                </rx-scale-dropdown>
            </div>
            <!-- <div class="btn-section">
                <button (click)="deleteScale()" class="btn btn-primary">Delete</button>
            </div> -->
        </div>  

        <section>
            <div class="btn-group" role="group">
                <button [class.selected]="scaleOrCalibrate === 0" (click)="onScaleOrCalibrateChange(0)">
                    <span>Scale</span>
                </button>
                <button [class.selected]="scaleOrCalibrate === 1" (click)="onScaleOrCalibrateChange(1)">
                    <span>Calibrate</span>
                </button>
            </div>
        </section>
        
        <div class="scale-settings">                                                              
            <div class="scale-input" *ngIf="scaleOrCalibrate === 0">                
                <div>
                    <input type="number" min="0" placeholder="Page Scale Value" [(ngModel)]="customPageScaleValue" />
                </div>
                <div style="width: 100px;">
                    <rx-dropdown
                        class="select-matric-unit"
                        [placeholder]="'Select matric unit...'"
                        [options]="metricUnitsOptionsForPage"
                        [value]="selectedMetricUnitForPage"
                        (valueChange)="selectMetricUnitForPage($event)">
                    </rx-dropdown>
                </div>
                <div> = </div>
                <div>
                    <input type="number" min="0" placeholder="Display Scale Value" [(ngModel)]="customDisplayScaleValue" />
                </div>
                <div style="width: 100px;">
                    <rx-dropdown
                        class="select-matric-unit"
                        [placeholder]="'Select matric unit...'"
                        [options]="metricUnitsOptionsForDisplay"
                        [value]="selectedMetricUnitForDisplay"
                        (valueChange)="selectMetricUnitForDisplay($event)">
                    </rx-dropdown>
                </div>
            </div>
            <div class="calibrate-container" *ngIf="scaleOrCalibrate === 1">                        
                <div class="settings">                
                    <div class="checkbox-calibrate">
                        <div class="cell">
                            <input
                                type="checkbox"
                                class="form-check-input"
                                [(ngModel)]="isSelectedCalibrate"
                                (ngModelChange)="onCalibrateCheckedChange()" />
                            <label
                                class="form-check-label"
                                (click)="onCalibrateCheckedChange()">
                                Start Calibrate
                            </label>
                        </div>   
                        <div class="cell">
                             
                            <button *ngIf="isSelectedCalibrate && isCalibrateFinished" (click)="resetCalibrate()" class="btn btn-light">
                                <svg fill="#b0b0b0" width="18" height="18" viewBox="0 0 512 512" data-name="Layer 1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" stroke="#b0b0b0"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M218.39,320.61,246.77,349H157a93,93,0,0,1,0-186h18V133H157a123,123,0,0,0,0,246h89.77l-28.38,28.38,21.22,21.23L304.22,364l-64.61-64.61Z"></path><path d="M355,133H265.23l28.38-28.38L272.39,83.39,207.78,148l64.61,64.61,21.22-21.22L265.23,163H355a93,93,0,0,1,0,186H336.44v30H355a123,123,0,0,0,0-246Z"></path></g></svg>
                                <span>Reset</span>
                            </button>

                        </div>                 
                    </div>                           
                    
                    <ng-container>
                        <div>
                            <p>Please adjust the calibration length by entering the correct value in the text field provided.</p>
                        </div>
                        <div class="grid input-calibrate-length-section"> 
                            <div>Measured Distance</div>           
                            <div class="txtCalibrateLength">
                                <input type="text" [(ngModel)]="measuredCalibrateLength" readonly />
                            </div>
                            <div>                
                                {{currentPageMetricUnitCalibrate}}                               
                            </div>
                        </div>

                        <div class="grid input-calibrate-length-section"> 
                            <div>Correct Distance</div>           
                            <div class="txtCalibrateLength">
                                <input type="text" placeholder="Calibrate Length" [(ngModel)]="calibrateLength" />
                            </div>
                            <div>                
                                <!-- {{selectedMetricUnit?.label}} -->
                                <rx-dropdown
                                    class="select-matric-unit"
                                    [placeholder]="'Select matric unit...'"
                                    [options]="metricUnitsOptions"
                                    [value]="selectedMetricUnit"
                                    (valueChange)="selectMetricUnitForCalibrate($event)">
                                </rx-dropdown>
                            </div>
                        </div>
                        
                    </ng-container>
                </div> 
            </div>
            <div class="scale-precision-section">
                <div>
                    Precision
                </div>          
                <div style="width: 100px;">
                    <rx-dropdown
                        class="select-scale-precision"
                        [placeholder]="'Select scale precision...'"
                        [options]="precisionOptions"
                        [value]="selectedScalePrecision"
                        (valueChange)="onScalePrecisionChanged($event)"
                        >
                    </rx-dropdown>
                </div>            
            </div>
            <div class="btn-section">
                <button (click)="onCloseClick()" class="btn btn-light">CANCEL</button>
                <button (click)="scaleOrCalibrate === 0 ? addNewScale(): applyCalibrate()" class="btn btn-primary">Add New Scale</button>
            </div>
        </div>
        
    </div>


    
    <rx-accordion [collapsing]="false" [expandAll]="true" style="display: none;">
        <rx-accordion-item *ngIf="type == MARKUP_TYPES.MEASURE.LENGTH.type" [title]="'Measure type'">
            <ng-template accordionContent>
                <div class="btn-group" role="group">
                    <button [class.selected]="lengthMeasureType == 0" (click)="onLengthMeasureTypeChange(0)">
                        <img src="/assets/images/measure-length-no-arrow-ico.svg" />
                        <span>No arrow</span>
                    </button>
                    <button [class.selected]="lengthMeasureType == 1" (click)="onLengthMeasureTypeChange(1)">
                        <img src="/assets/images/measure-length-ico.svg" />
                        <span>Open Arrow</span>
                    </button>
                </div>
            </ng-template>
        </rx-accordion-item>
        <rx-accordion-item [title]="'Colors'">
            <ng-template accordionContent>
                <rx-color-picker
                    [value]="color"
                    (valueChange)="onColorSelect($event)">
                </rx-color-picker>
            </ng-template>
        </rx-accordion-item>
        <rx-accordion-item *ngIf="type != MARKUP_TYPES.MEASURE.LENGTH.type" [title]="'Thickness'">
            <ng-template accordionContent>
                <div class="slider-container">
                    <ngx-slider
                        class="slider"
                        [(value)]="strokeThickness"
                        [options]="{floor: 1, ceil: 12, hideLimitLabels: true, hidePointerLabels: true, showSelectionBar: true }"
                        (userChange)="onStrokeThicknessChange()">
                    </ngx-slider>
                    <span class="value">{{strokeThickness}}pt</span>
                </div>
            </ng-template>
        </rx-accordion-item>
        <rx-accordion-item *ngIf="type != MARKUP_TYPES.MEASURE.LENGTH.type" [title]="'Style'">
            <ng-template accordionContent>
                <div style="margin-bottom: 22px;">
                    <rx-line-style-select
                        [value]="strokeLineStyle"
                        (valueChange)="onStrokeLineStyleSelect($event)">
                    </rx-line-style-select>
                </div>
            </ng-template>
        </rx-accordion-item>
    </rx-accordion>
    <div class="snap-section" style="display: none;">
        <span>Snap</span>
        <rx-switch
            [checked]="snap"
            (change)="onSnapChange($event)">
        </rx-switch>
    </div>
</div>