.file-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    overflow-y: auto;
    scrollbar-width: thin;
    max-height: 400px;

    .file {
        display: flex;
        flex-direction: column;
        width: calc((100% - 32px)/3);
        padding: 12px 24px 2px;
        box-sizing: border-box;
        background-color: var(--accent-secondary);
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        
        &:hover {
            background-color: #DDECF0;
        }

        span {
            margin: 0;
            font-size: 13px;
            text-align: center;
            padding: 8px 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            display: inline-block;
        }
    }
}

