<div class="vector-layers-container">
    <div class="layers-visibility-section">
        <span>Blocks visibility:</span>
        <div class="btn-group" role="group">
            <button [class.selected]="vectorBlocksAll" (click)="onVectorBlocksAllSelect(true)">
                <img src="assets/images/show-on-ico.svg" />
            </button>
            <button [class.selected]="!vectorBlocksAll" (click)="onVectorBlocksAllSelect(false)">
                <img src="assets/images/show-off-ico.svg" />
            </button>
        </div>
    </div>
    <div *ngIf="vectorBlocks?.length; else emptyBlocks" class="list-wrapper">
        <ul class="list">
            <li *ngFor="let block of vectorBlocks" [class.show-off]="!block?.state" (click)="onVectorBlockClick(block)">
                <span style="flex-grow: 1;">{{block?.name}}</span>
                <img *ngIf="!block?.state" src="assets/images/show-off-ico.svg" />
            </li>
        </ul>
    </div>
    <ng-template #emptyBlocks>
        <div class="list-empty">
            <p>This document doesn’t have any blocks.</p>
        </div>
    </ng-template>
</div>