.rx-count-panel-container {
    position: fixed;
    right: 90px;
    top: 300px;
    width: 224px;
    height: auto;
    padding: 0px 12px;
    border-radius: 4px;
    border: 1px solid #EDF1F2;
    box-shadow: 0px 0px 7px 2px #48484814;
    background-color: #FFFFFF;
    box-sizing: content-box;

    .markup-display-name-section {
        display: flex;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        gap: 8px;
        margin-bottom: 8px;

        input[type="text"] {
            background: transparent;
            border: 1px solid #EDF1F2;
            border-radius: 4px;
            height: 28px;
            padding: 3px 8px;
            text-align: left;
            box-sizing: border-box;
            outline: none;
            transition: 0.3s;
            flex-grow: 1;

            &::placeholder {
                color: #A4ABAE;
            }
        }

        span {
            border-radius: 4px;
            border: 1px solid #EDF1F2;
            padding: 4px;
            font-size: 14px;
            font-weight: 400;
            color: #A4ABAE;
            max-width: 36px;
            min-width: 36px;
            text-align: center;
            background-color: #F5F5F6;
            box-sizing: border-box;
        }
    }
}