<div class="vector-layers-container">
    <div class="layers-visibility-section">
        <span>Layers visibility:</span>
        <div class="btn-group" role="group">
            <button [class.selected]="vectorLayersAll" (click)="onVectorLayersAllSelect(true)">
                <img src="/assets/images/show-on-ico.svg" />
            </button>
            <button [class.selected]="!vectorLayersAll" (click)="onVectorLayersAllSelect(false)">
                <img src="/assets/images/show-off-ico.svg" />
            </button>
        </div>
    </div>
    <div *ngIf="vectorLayers?.length && !guiState.isPDF" class="list-wrapper">
        <ul class="list">
            <li *ngFor="let layer of vectorLayers" [class.show-off]="!layer?.state" (click)="onVectorLayerClick(layer)">
                <span class="color-circle" [style.background]="layer?.color"></span>
                <span style="flex-grow: 1;">{{layer?.name}}</span>

                <img *ngIf="layer?.state == 0" src="/assets/images/show-off-ico.svg" />
                <img *ngIf="layer?.state == 1" src="/assets/images/show-on-ico.svg" />


            </li>
        </ul>
    </div>
    <div *ngIf="vectorLayers?.length && guiState.isPDF" class="list-wrapper">
        <ul class="list">
            <li *ngFor="let layer of vectorLayers" [class.show-off]="!layer?.state" (click)="onVectorLayerClick(layer)">
                <span class="color-circle" [style.background]="layer?.color"></span>
                <span style="flex-grow: 1;">{{layer?.name}}</span>

                <img *ngIf="!layer?.visible" src="/assets/images/show-off-ico.svg" />
                <img *ngIf="layer?.visible" src="/assets/images/show-on-ico.svg" />


            </li>
        </ul>
    </div>


    <ng-template *ngIf="!vectorLayers?.length">
        <div class="list-empty">
            <p>This document doesn’t have any layers.</p>
        </div>
    </ng-template>
</div>