@import "../assets/scss/config.scss";

.content {
    width: 100% ;
    height: 100%;
    box-sizing: border-box; 
    //padding-left: 82px;
    padding-top: 48px;
    display: flex;

    &.full-height {
        padding-top: 0;
    }

    &.full-width {
        padding-left: 0;
    }
    
    &.full-width-right {
        padding-right: 0;
    }

    .main-content {
        overflow: hidden;
        position: relative;
        //flex-direction: column;

        .welcome-content {
            position: absolute;
            width: calc(100% - 74px);
            margin-top: 30px;
            height: calc(100% - 60px);
            background-color: white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 50px 0 25px 0;
            box-sizing: border-box;
            z-index: 1;

            img {
                width: 123px;
            }

            .main-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                height: 50%;
                width: 100%;

                h1 {
                    color: $main;
                    font-size: 24px;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                .description {
                    color: $main;
                    font-size: 14px;
                    line-height: 20px;
                    max-width: 500px;
                    text-align: center;
                }

                .background {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #F9F9FA;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    transform: skewY(-5deg);
                }
            }

            .btn-choice-file {
                padding: 10px 24px;
                border-radius: 30px;
                color: #FFFFFF;
                font-size: 14px;
                font-weight: 700;
                background-color: $accent;
                cursor: pointer;
            }

            .copyright {
                color: #A4ABAE;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
            }
           
        }

        .lineconnector-container {
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            height: 5px;
            width: 5px;
        }


    }

    .paste-markup {
        position: absolute; 
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        padding: 12px;
        border: 1px solid #EDF1F2;
        box-shadow: 0px 0px 10px 0px rgba(30, 30, 30, 0.10);
        font-weight: 600;
        cursor: pointer;

        img {
            margin-right: 5px;
        }
    }
}