
@import "../../../../assets/scss/config.scss";

.library-panel-container {
    padding: 0 12px 12px 12px;
    box-sizing: border-box;
    overflow: scroll;
    max-height: 500px;

    section {
        h4 {
            margin: 12px 0;
            color: #A4ABAE;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
        }
    }

    .templates-list {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}
.stamp-container{
    margin: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    overflow: hidden;  
}
.stamp-container img {
    display: block; 
    width: 100%; 
    height: auto; 
  }