@import "/src/assets/scss/config.scss";

.side-nav-menu-wrapper {
    position: relative;
    // width: 82px;
    height: 100%;
    z-index: 9;

    nav {
        width: 100%;
        height: 100%;
        background-color: $side-nav-background;
        padding-top: 48px;
        position: absolute;
        z-index: 1;
        box-sizing: border-box;
        overflow-x: hidden;

        ul {
            list-style: none;
            padding: unset;
            margin: unset;
            display: flex;
            flex-direction: column;

            li:first-child {
                margin-top: 18px;
            }

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 10px;
                font-weight: 600;
                cursor: pointer;
                position: relative;
                color: $side-nav-color;
                bottom: 8px;
                padding: 26px 0;

                span.title {
                    white-space: pre-wrap;
                    text-align: center;
                }

                svg {
                    width: 24px;
                    height: 24px;
                    margin-bottom: 6px;
                    path[stroke]:not([stroke="none"]), rect[stroke]:not([stroke="none"]) {
                        stroke: $side-nav-color;
                    }
                    path[fill]:not([fill="none"]), rect[fill]:not([fill="none"]) {
                        fill: $side-nav-color;
                    }
                }

               /*  &:hover {
                    color: $accent;

                    svg {
                        path[stroke]:not([stroke="none"]), rect[stroke]:not([stroke="none"]) {
                            stroke: $accent;
                        }
                        path[fill]:not([fill="none"]), rect[fill]:not([fill="none"]) {
                            fill: $accent;
                        }
                    }
                } */

                &.active {
                    color: $side-nav-color-active;
                    background-color: $side-nav-background-active;

                    svg {
                        path[stroke]:not([stroke="none"]), rect[stroke]:not([stroke="none"]) {
                            stroke: $side-nav-color-active;
                        }
                        path[fill]:not([fill="none"]), rect[fill]:not([fill="none"]) {
                            fill: $side-nav-color-active;
                        }
                    }

                    &::before {
                        content:'';
                        position: absolute;
                        top: -43px;
                        right: -1px;
                        width: 55px;
                        height: 45px;
                        border-radius: 50%;
                        box-shadow: 15px 15px 0px $side-nav-background-active;
                    }

                    &::after {
                        content:'';
                        position: absolute;
                        bottom: -43px;
                        right: -1px;
                        width: 55px;
                        height: 45px;
                        border-radius: 50%;
                        box-shadow: 15px -15px 0px $side-nav-background-active;
                    }
                }
            }
        }
    }

    .toggleable-panel {
        position: absolute;
        height: 100%;
        width: 288px;
        top: 0;
        right: auto;
        left: -288px;
        background-color: $side-nav-panel-background;
        box-shadow: 0px 0px 7px 2px #48484814;
        transition: left 0.3s ease-in-out;
        overflow-x: hidden;

        &.opened {
            left: 0;
        }

        .toggleable-panel-header {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #EDF1F2;

            h4 {
                flex-grow: 1;
                font-size: 14px;
                font-weight: 600;
                padding-left: 12px;
                margin: 0;
                color: $main;
            }

            span[role=button] {
                width: 40px;
                height: 40px;
                border-left: 1px solid #EDF1F2;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    path {
                        fill: $main;
                    }
                }
            }
        }

        .toggleable-panel-body {
            height: calc(100% - 42px);
            overflow-y: scroll;
            scrollbar-width: thin;
    
        }
    }
}