@import "../../../../assets/scss/config.scss";

:host {
    user-select: none;
    display: flex;
    gap: 8px;
    justify-content: center;
    width: fit-content;

    svg {
        cursor: pointer;

        &.checked {
            fill: $accent;
        }
    }

    label {
        color: $main;
        font-weight: 400;
        font-size: 12px;
        cursor: pointer;
    }
}