<div class="pages-container">
    <ul class="nav-tabs">
        <li [class.active]="tabActiveIndex == 0" (click)="tabActiveIndex=0">
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="6.53124" y="6.53124" width="6.72905" height="6.72905" rx="1.35762" stroke="#333C4E" stroke-width="1.06248"/>
                <rect x="15.7383" y="6.53124" width="6.72905" height="6.72905" rx="1.35762" stroke="#333C4E" stroke-width="1.06248"/>
                <rect x="6.53124" y="15.7387" width="6.72905" height="6.72905" rx="1.35762" stroke="#333C4E" stroke-width="1.06248"/>
                <rect x="15.7383" y="15.7387" width="6.72905" height="6.72905" rx="1.35762" stroke="#333C4E" stroke-width="1.06248"/>
            </svg>
        </li>
        <li [class.active]="tabActiveIndex == 1" (click)="tabActiveIndex=1">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.7578 0.497524H3.23242C2.2697 0.497524 1.48926 1.27796 1.48926 2.24069V15.9644C1.48926 16.0697 1.60009 16.1382 1.69428 16.0911L6.6886 13.5939C6.72848 13.574 6.77543 13.574 6.81531 13.5939L11.8096 16.0911C11.9038 16.1382 12.0146 16.0697 12.0146 15.9644V2.24069C12.0146 1.27796 12.7951 0.497524 13.7578 0.497524ZM13.7578 0.497524C14.7205 0.497524 15.501 1.27796 15.501 2.24069V7.79114C15.501 8.18234 15.1838 8.49948 14.7926 8.49948H12.0146" stroke="#333C4E" stroke-width="1.02376" stroke-miterlimit="10"/>
            </svg>
        </li>
    </ul>
    <div [ngSwitch]="tabActiveIndex" class="nav-tabs-content" [class.no-padding]="tabActiveIndex == 1">
        <ng-container *ngSwitchDefault>
            <div class="search-section">
                <span>Search page:</span>
                <input
                    type="text"
                    placeholder="0"
                    [(ngModel)]="page"
                    (keyup)="onPageSearch($event)" />
            </div>
            <div class="scale-section">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.45785 8.91504C3.33217 8.91504 3.22444 8.872 3.13467 8.78592C3.04489 8.69983 3 8.5918 3 8.46181C3 8.33181 3.04385 8.22235 3.13154 8.13342C3.21924 8.04447 3.3279 8 3.45752 8H11.7056C11.8312 8 11.939 8.04363 12.0288 8.13088C12.1185 8.21814 12.1634 8.32626 12.1634 8.45525C12.1634 8.58657 12.1196 8.69603 12.0319 8.78363C11.9442 8.87124 11.8355 8.91504 11.7059 8.91504H3.45785Z" fill="#A4ABAE"/>
                </svg>
                <ngx-slider
                    class="slider"
                    [(value)]="scale"
                    [options]="{floor: 25, ceil: 95, hideLimitLabels: true, hidePointerLabels: true, showSelectionBar: true }">
                </ngx-slider>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.48474 8.51526H3.51526C3.36927 8.51526 3.2469 8.46624 3.14814 8.36821C3.04938 8.27018 3 8.14741 3 7.9999C3 7.85238 3.04938 7.72965 3.14814 7.63169C3.2469 7.53372 3.36927 7.48474 3.51526 7.48474H7.48474V3.51526C7.48474 3.36927 7.53428 3.2469 7.63336 3.14814C7.73244 3.04938 7.85521 3 8.00167 3C8.14814 3 8.27035 3.04938 8.36831 3.14814C8.46628 3.2469 8.51526 3.36927 8.51526 3.51526V7.48474H12.4847C12.6307 7.48474 12.7531 7.53431 12.8519 7.63346C12.9506 7.7326 13 7.85545 13 8.00201C13 8.15079 12.9506 8.27353 12.8519 8.37021C12.7531 8.46691 12.6307 8.51526 12.4847 8.51526H8.51526V12.4847C8.51526 12.633 8.46572 12.7559 8.36664 12.8535C8.26756 12.9512 8.14479 13 7.99833 13C7.85186 13 7.72965 12.9512 7.63169 12.8535C7.53372 12.7559 7.48474 12.633 7.48474 12.4847V8.51526Z" fill="#A4ABAE"/>
                </svg>
            </div>
            <div class="pages-list">
                <div
                    *ngFor="let thumbnail of thumbnails; index as i"
                    [id]="'page-' + i"
                    [ngStyle]="{'width': scale + '%'}"
                    class="page"
                    [class.selected]="i == selectedPageIndex">
                    <canvas
                        [pageThumbnail]="thumbnail"
                        [pageIndex]="i"
                        (click)="onPageSelect(i)">
                    </canvas>
                    <span>{{i+1}} / {{numpages}}</span>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="1">
            <div *ngIf="bookmarks?.length; else emptyBookmarks" class="tree-wrapper">
                <rx-treeview
                    [headerTemplate]="headerTemplate"
                    [itemTemplate]="itemTemplate"
                    [config]="config"
                    [items]="bookmarks">
                </rx-treeview>
                <ng-template
                    #headerTemplate
                    let-config="config"
                    let-item="item"
                    let-onFilterTextChange="onFilterTextChange">
                    <div class="search-bookmarks-section">
                        <div class="search">
                            <img src="/assets/images/search-ico.svg" />
                            <input
                                type="text"
                                placeholder="Search bookmarks"
                                [(ngModel)]="search"
                                (ngModelChange)="onFilterTextChange($event)" />
                        </div>
                    </div>
                    <div class="view-bookmarks">
                        <span>View Bookmarks on Page</span>
                        <rx-switch
                            [checked]="viewBookmarks"
                            (change)="onViewBookmarksChange($event)">
                        </rx-switch>
                    </div>
                </ng-template>
                <ng-template
                    #itemTemplate
                    let-item="item"
                    let-level="level"
                    let-onCollapseExpand="onCollapseExpand">
                    <div class="row-item" [ngStyle]="{'padding-left.px': 10*level }">
                        <ng-container [ngSwitch]="item.children?.length > 0">
                            <img *ngSwitchCase="true" [class.collapsed]="item.collapsed" src="/assets/images/arrow-down.svg" (click)="onCollapseExpand()" />
                            <span *ngSwitchCase="false" style="width: 10px;"></span>
                        </ng-container>
                        <div class="row-item-block">
                            <span role="button" (click)="onBookmarkClick(item);" style="flex-grow: 1;">{{item.text}}</span>
                        </div>
                    </div>
                </ng-template>
            </div>
            <ng-template #emptyBookmarks>
                <div class="bookmarks-empty">
                    <p>No bookmarks available yet.</p>
                </div>
            </ng-template>
        </ng-container>
    </div>
</div>