<div class="file-galery-container" [ngStyle]="{'display': isUploadFile ? 'none' : 'flex' }">
    <ul class="left-tabbed-menu">
        <li [class.active]="leftTabActiveIndex == 0" (click)="leftTabActiveIndex=0">File gallery</li>
        <li [class.active]="leftTabActiveIndex == 1" (click)="leftTabActiveIndex=1">Upload your file</li>
    </ul>
    <div class="main-content">
        <div class="rx-modal-dialog-header">
            <img class="close" src="/assets/images/close-modal-ico.svg" (click)="handleCloseModalFileGalery()" />
            <span class="title">FILE GALLERY</span>
        </div>
        <div [ngSwitch]="leftTabActiveIndex">
            <div *ngSwitchDefault>
                <div class="tabbed-menu">
                    <div
                        *ngFor="let group of groups;"
                        class="tabbed-menu-item"
                        [class.active]="selected.name == group.name"
                        (click)="selected = group">
                            <span>{{group.name}}</span>
                    </div>
                </div>
                <div class="file-galery-items">
                    <div
                        *ngFor="let item of selected.items;"
                        class="tile"
                        (click)="handleFileSelect(item)">
                            <!-- <div class="thumbnail"><img src="{{item.thumbnail}}" /></div> -->
                            <div class="thumbnail"></div>
                            <div class="title">{{item.name}}</div>
                    </div>
                    <br>
                    <br>
                    <p class="copyright">PDF Reader powered by Foxit. Copyright (c) 2003-2024 by Foxit Software Incorporated</p>
                </div>
            </div>
            <div *ngSwitchCase="1">
                <rx-dnd-zone (onDrop)="onDrop($event)">
                    <div class="dnd-content" (click)="onChooseClick()">
                        <input
                            type="file"
                            style="display: none;"
                            id="fileToUpload"
                            onclick="this.value = null;"
                            #fileToUpload
                            (change)="handleFileUpload($event)" />
                        <img src="/assets/images/files-img.svg" />
                        <p class="dnd-text">Drag & drop a file here or</p>
                        <span class="dnd-choose">CHOOSE ON COMPUTER</span>
                    </div>
                </rx-dnd-zone>
                <div *ngIf="!selectedFileName; else fileUploadProgress" class="acceptable-formats">
                    <h4>Acceptable formats</h4>
                    <ul>
                        <li>PDF</li>
                        <li>Microsoft Office (doc, docx, xlsl, pptx)</li>
                        <li>Images (jpg, png, tif, bmp)</li>
                        <li>Other text formats like </li>
                    </ul>

                    <p class="copyright">PDF Reader powered by Foxit. Copyright (c) 2003-2024 by Foxit Software Incorporated</p>

                </div>
                <ng-template #fileUploadProgress>
                    <div *ngIf="selectedFileName" class="container-file-upload">
                        <div class="info-file-gallery">
                            <img *ngIf="!isUploadFile" class="close"  src="/assets/images/close-modal-ico.svg" (click)="clearData()" />
                            <div class="file"><img src="/assets/images/file-ico.svg" /></div>
                            <div class="selected-file">
                                <div class="name">{{ selectedFileName }}</div>
                                <div class="size">{{ fileSize + ' ' + fileSizeUnits }} </div>
                            </div>
                        </div>
                        <div class="btn-file-gallery">
                            <button *ngIf="!isUploadFile" class="btn btn-light" (click)="clearData()">CANCEL</button>
                            <button class="btn btn-primary" (click)="uploadFile()" [disabled]="isUploadFile">UPLOAD</button>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isUploadFile" class="progress-container">
    <div class="progress">
        <div>It takes a few seconds to open this document...</div>
        <progress value="0" max="100" #progressBar></progress>
    </div>
</div>