@import "../../../../assets/scss/config.scss";
.switch {
    border: none;
    position: relative;
    display: flex;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: 0.3s ease-out all;
    height: 20px;
    min-width: 36px;
    border-radius: 20px;

    small {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        position: absolute;
        top: 2px;
        right: calc(100% - 18px);
        transition: 0.3s ease-out all;
        background: #fff;
    }

    &.checked {
        small {
          right: 2px;
          left: auto;
        }

        background-color: $accent;
    }
}