@import "../../../assets/scss/config.scss";

.top-nav-menu {
    height: 48px;
    background-color: $top-nav-background;
    display: flex;
    align-items: center;
    user-select: none;
    color: $top-nav-color;

    .top-nav-item-group {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 48px;
        height: 48px;
    }

    .top-nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 48px;
        height: 48px;

        &.button {
            cursor: pointer;
            transition: .3s;

            &:hover {
                box-shadow: 0px -7px 7px 2px #B5B5B547;
            }
        }

        &.logo {
            margin-left: 16px;
            margin-right: 16px;
            height: auto;
            cursor: pointer;
        }

        &.pages {
            flex-grow: 1;
            justify-content: flex-start;
        }

        &.more {
            border-left: 1px solid #EDF1F2;
            position: relative;

            .more-wrapper {
                cursor: pointer;
                height: 28px;
                width: 28px;
            }
        }

        &.dropdown {
            padding-right: 24px;
        }

        .dropdown {
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            cursor: pointer;

            &:hover,
            &.opened {
                background-color: #EDF1F2;
            }
        }

        .options-container {
            position: relative;
            display: none;

            &.opened {
                display: block;
            }

            .options-wrapper {
                position: absolute;
                top: 22px;
                z-index: 10;
                background: #FFFFFF;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
                border-radius: 4px;
                right: 0;

                ul.options {
                    width: 100%;
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    padding: unset;
                    margin: 6px 0;
                    overflow: auto;
                    gap: 6px;

                    li {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 22px;
                        padding: 6px 12px;
                        white-space: nowrap;
                        position: relative;
                        min-width: 104px;

                        &.disabled {
                            cursor: not-allowed;
                            opacity: .5;
                        }

                        &:not(.disabled) {
                            &:hover,
                            &:focus-visible {
                                background-color: $background-light;
                                cursor: pointer;
                                outline: none;
                                box-shadow: none;
                            }
                        }
                        &.selected {
                            background-color: $background-light;
                        }
                        &.separator {
                            padding: unset;
                            height: 1px;
                            background-color: #EDF1F2;
                        }

                        .icon {
                            position: absolute;
                            left: 4px;
                            top: 7px;
                        }
                    }
                }
            }
        }
    }
    
    .current-scale {
        font-size: 12px;
        padding-right: 15px;
    }
}

svg {
    path[stroke]:not([stroke="none"]), rect[stroke]:not([stroke="none"]) {
        stroke: $top-nav-color;
    }
    path[fill]:not([fill="none"]), rect[fill]:not([fill="none"]) {
        fill: $top-nav-color;
    }
}

.Comments-icon{
    width: 28px;
    height: 28px;
    margin-right: 10px;
    border-radius: 4px;
    &.selected {
        background-color: $toolbar-background-active;
        color: $toolbar-background;
        svg{
            filter: brightness(0) invert(1);
        }
    }

}