@import "../../../../assets/scss/config.scss";


.link-panel-container {
    padding: 0 12px 12px 12px;
    box-sizing: border-box;
    overflow: scroll;
    max-height: 500px;

    section {
        h4 {
            margin: 12px 0;
            color: #A4ABAE;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
        }
    }

    .templates-list {
        display: flex;
        flex-direction: column;
        gap: 6px;
        max-width: 300px; 
        overflow: hidden;  
        text-overflow: ellipsis;  
        white-space: nowrap;
      }
      
 
}
.link-container{
    margin: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    overflow: hidden;  
}
.link-container img {
    display: block; 
    width: 100%; 
    height: auto; 
  }

  #link-container{ 
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden; 
  }