@import "../../../../assets/scss/config.scss";

.dropdown-container {
    position: relative;
    font-size: 12px;
    border-radius: 4px;

    .dropdown-wrapper {
        border-radius: 4px;
        border: 1px solid #EDF1F2;
        padding: 6px 10px 6px 10px;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        .value {
            top: 20px;
            line-height: 24px;
            min-height: 24px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex-grow: 1;

            &.placeholder {
                // color: #A4ABAE;
            }
        }

        .left-icon {
            position: absolute;
            top: 20px;
            left: 20px;
        }

        &.opened {
            border: 1px solid #A4ABAE;

            img {
                filter: invert(1);
            }

            .btn-dropdown {
                transform: rotate(180deg);
            }
        }

        &.disabled {
            opacity: .75;
        }

        &:not(.transparent) {
            background-color: $background-light;
        }
    }

    .options-container {
        position: relative;

        .options-wrapper {
            position: absolute;
            top: 3px;
            z-index: 10;
            background: #FFFFFF;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
            border-radius: 4px;
            width: 100%;

            &.align-right {
                right: 0;
            }

            ul.options {
                width: 100%;
                list-style-type: none;
                display: flex;
                flex-direction: column;
                padding: unset;
                overflow: auto;
                max-height: 170px;

                li {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    padding: 8px 18px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    position: relative;
                    min-height: 18px;
                    border-bottom: 1px solid $background-light;
                    display: flex;
                    align-items: center;

                    &.hidden {
                        display: none;
                    }

                    &:hover,
                    &:focus-visible {
                        background-color: $background-light;
                        cursor: pointer;
                        outline: none;
                        box-shadow: none;
                    }
                    &.selected {
                        background-color: $background-light;
                    }
                    
                    .delete-item {
                        display: inline-flex;
                        width: 100%;
                        justify-content: flex-end;
                    }                    

                    .icon {
                        position: absolute;
                        left: 4px;
                        top: 7px;
                    }
                }
            }

            .show-addnew {
                border: 1px solid #A4ABAE;
                border-radius: 4px;
                padding: 6px 10px 6px 10px;                
                width: 85px;  
                margin: auto;   
                cursor: pointer;   
                margin-bottom: 10px;        
            }
        }
    }
}