<div
    *ngIf="((guiMode$ | async) == 'annotate' || (guiMode$ | async) == 'compare' || (guiMode$ | async) == 'measure' ) && visible"
    class="quick-actions-container"
    [ngStyle]="{ 'top.px' : rectangle.y, 'left.px' : rectangle.x }">
    <ul class="menu" [class.bottom]="rectangle.position == 'bottom'">
        <li
            *ngIf="annotation.type != 11"
            (click)="onEditClick()">
                <img id="quickActionsMenuEdit" src="/assets/images/pen-ico.svg" />
        </li>
        <li
            (click)="onDeleteClick()">
                <img src="/assets/images/trash-ico.svg" />
        </li>
        <li>
            <img src="/assets/images/copy-ico.svg" (click)="copyMarkUp()"/>
        </li>
<!--         <li (click)="onNoteClick()">
            <img src="/assets/images/comment-ico.svg" />
        </li>
 -->        <li
            *ngIf="annotation.bCanHaveLink && !annotation.bhaveLink"
            (click)="addLink = true;"
            [ngClass]="{'is-link': addLink}">
                <img src="/assets/images/link-ico.svg" />
            </li>
        <li
            *ngIf="annotation.bhaveLink"
            (click)="addLink = true; message = 'Edit link'">
                <img src="/assets/images/unlink.svg" />
        </li>
        <li
            *ngIf="annotation.type == 6 && annotation.subtype < 4"
            (click)="onSnapClick()"
            [class.is-link]="snap">
                <img src="/assets/images/snap-ico.svg" />
        </li>
        <li
            *ngIf="annotation.type == 11"
            (click)="onInfoClick()">
                <img src="/assets/images/markup-info-ico.svg" />
        </li>
    </ul>
</div>

<confirmation-modal 
    [opened]="confirmDeleteOpened"
    [text]="'Are you sure you want to delete this annotation?'"
    [action]="'DELETE'"
    [annotation]="annotation" 
    (closed)="confirmDeleteOpened = false">
</confirmation-modal>

<rx-modal-dialog [opened]="addLink">
    <div class="confirm-modal-container add-link-modal">
        <div class="rx-modal-dialog-header">
            <img (click)="addLink = false; visible = true;" class="close" src="/assets/images/close-modal-ico.svg" />
            <span class="title">{{ message }}</span>
        </div>
        <div class="body">
            <p>Enter URL you would like to link to</p>
            <input [(ngModel)]="annotation.linkURL" type="text" />
        </div>
        <div class="footer">
            <button (click)="addLink = false; visible = true;" class="btn btn-light">CANCEL</button>
            <button (click)="saveLink()" class="btn btn-primary">SAVE</button>
        </div>
    </div>
</rx-modal-dialog>

<confirmation-modal 
    [opened]="followLink" 
    [annotation]="annotation"
    [action]="'FOLLOW'"
    (closed)="followLink = false">
</confirmation-modal>